*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}

.wrapper{
    width: 95%;
    margin: 0 auto;
}

#contenedor-busqueda{
    margin: 1em 0;
}

#contenedor-busqueda input{
    background-color: transparent;
    border-bottom: 2px solid #110f29;
    padding: 1em 0.3em;
}

#contenedor-busqueda input:focus{
    border-bottom-color: #6759ff;
}

#contenedor-busqueda button{
    padding: 1em 2em;
    margin-left: 1em;
    background-color: black;
    color: #ffffff;
    border-radius: 5px;
    margin-top: 0.5em;
    cursor: pointer;
}

.button-value{
    border: 2px solid lightgray;
  padding: 1em 2.2em;
  border-radius: 3em;
  background-color: transparent;
  color: black;
  cursor: pointer;
}

.active {
    background-color: black;
    color: #ffffff;
  }

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#page-head{
    display: flex;
    background-color: black;
    height: 20vh;
    align-items: center;
}

#page-footer{
    display: flex;
    background-color: black;
    height: 20vh;
    align-items: center;
    width: 100%;
}

.header-content, .footer-content{
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    width: 100%;
}

#products{
    height: 160vh;
    width: 100%;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.products-buttons{
    display: flex;
    position: absolute;
    top: 25vh;
    width: 100%;
    justify-content: space-around;
}

.page-head-logo img, .footer-logo img{
    height: 90px;
    border-radius: 60px;
}

.page-head-logo a, .footer-logo a{
    display: flex;
    align-items: center;
    color: white;
    gap: 10px;
    text-decoration: none;
}

#productos{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 1.5em;
    padding: 2em 0;
    justify-content: center;
    align-items: center;
    position: absolute;
    max-height: 115vh;
    overflow-y: scroll;
}

.imagen-cont, img{
    max-width: 100%;
    object-fit: contain;
    height: 15em;
}

.card{
    max-width: 18em;
    margin-top: 1em;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 1em 2em 2.5em rgba(1,2,68,0.08);
    background-color: whitesmoke;
    text-align: center;
}

.card div{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.card h4{
    display: flex;
    background-color: green;
    width: 100%;
    padding: 5px;
    justify-content: center;
    cursor: pointer;
    color: white;
}

.card h4:hover{
    background-color: #2ecc71;
}

.card:hover{
    box-shadow: 0px 20px 40px(0,0,0,0,0.2);
    transition: .3s;
    transform: scale(1.05,1.05);
}

.button-value:hover{
    background-color: black;
    color: white;
    transition: 1000ms linear;
}

.imagen-cont{
    text-align: center;
}

.cont{
    padding-top: 1em;
    color: purple;
}

.cont h5{
    font-weight: 500;
}

.hide{
    display: none;
}

@media screen and (max-width: 720px){
    .imagen-cont, img{
        max-width: 100%;
        object-fit: contain;
        height: 10em;
    }
    .card{
        max-width: 10em;
        margin-top: 1em;
    }
}