* {
  margin: 0;
  padding: 0;
}

body {
  background-color: lightgray;
  font-family: system-ui;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: auto;
  transition: 0.5s;
}

header, footer {
  display: flex;
  align-items: center;
  text-align: center;
  background-color: black;
  justify-self: center;
  height: 30vh;
}

.header-content, .footer-content {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  gap: 10px;
}

.header-content img, .footer-content img {
  height: 90px;
  border-radius: 55px;
}

.header-content a, .footer-content a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  gap: 5px;
  justify-content: center;
}

.footer-content p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: white;
}

main {
  display: grid;
  grid-template-columns: 1fr 50px;
  align-items: center;
  gap: 50px;
}

.shopCartOpen {
  position: relative;
  text-align: right;
}

main .shopCartOpen img {
  cursor: pointer;
}

.shopCartOpen img:hover {
    box-shadow: 0px 20px 40px(0,0,0,0,0.2);
    transition: .3s;
    transform: scale(1.05,1.05);
}

.qty {
  background-color: red;
  border-radius: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: absolute;
  top: 65px;
  left: 80%;
  padding: 3px 10px;
}

.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1.5em;
  row-gap: 20px;
  margin-top: 50px;
  text-align: center;
  max-height: 115vh;
  overflow-y: scroll;
}

.card {
  position: fixed;
  top: -38px;
  width: 330px;
  background-color: white;
  height: 100vh;
  transition: 0.5s;
  left: 100%;
}

.card h1 {
  color: white;
  font-weight: 100;
  margin: 0;
  padding: 0 20px;
  display: flex;
  align-items: center;
  background-color: black;
  height: 30vh;
}

.card .checkOut {
  position: absolute;
  bottom: -5px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: white;
  align-items: center;
}



.total {
  background-color: black;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.total:hover{
    background-color: orange;
    transition: 2s;
}

.closeShopping{
    background-color: red;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.closeShopping:hover{
    background-color: darkred;
    transition: 2s;
}

.active{
  overflow-x: hidden;
}

.active .shopCartOpen{
    left: calc(100% - 40px);
    transform: .5s;
}

.active .card{
    transform: translateX(-330px);
    transition: .5s;
}

img{
  max-width: 100%;
  object-fit: contain;
  height: 15em;
}

.list .item{
  display: flex;
  flex-direction: column;
  max-width: 18em;
  margin-top: 1em;
  padding: 1em;
  background-color: #DCE0E1;
  border-radius: 20px;
  box-shadow: 0 50px 50px #757676;
}

.list .item button{
  display: flex;
  background-color: green;
  width: 100%;
  padding: 5px;
  justify-content: center;
  cursor: pointer;
  color: white;
  border-radius: 10px;
}

.list .item button:hover{
  background-color: #2ecc71;
}

.listCard{
  max-height: 60vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.listCard li{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  background-color: darkgray;
  gap: 5px;
  text-align: center;
}
